fastapi[standard]
uvicorn
sqlmodel
psycopg[binary]
python-dotenv
pydantic-settings
python-jose[cryptography]
bcrypt
email-validator
mercadopago>=2.3.0
cloudinary>=1.36.0
slowapi>=0.1.9
websockets
pytest
httpx
